@using RegistrationApp_DL;
@model List<RegistrationApp_DL.RegistrationModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/Content/sweetalert/sweetalert.min.js"></script>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="">
                            <i class="fa fa-codepen text"></i> <b class="text">User Register List</b>
                            <button type="button" class="btn btn-primary pull-right" onclick="OpenModelPopup(0);"><i class="fa fa-plus"></i> Add New</button>
                        </h3>
                    </div>

                </div>
                <div class="ibox-content">
                    <table id="tblUserRegister" class="table table-striped table-bordered table-hover table-basic nowrap dataTables-example">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.Email</td>
                                    <td>@item.Phone</td>
                                    <td>
                                        <span class="m-l-sm" onclick="OpenModelPopup(@item.Id)">
                                            <i class="fa fa-pencil text-info" style="font-size: 20px;" title="Edit"></i>
                                        </span>
                                        <span onclick="funDeleteRegister(@item.Id)" class="m-l-sm">
                                            <i class="fa fa-trash text-danger" style="font-size: 20px;" title="Edit"></i>
                                        </span>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
    <div class="container" id="divRegister">
    </div>
</div>

<script type="text/javascript">
        $(document).ready(function () {
            $('#tblUserRegister').DataTable();
        });

    OpenModelPopup = (RegisterID) => {
        $.ajax({
            type: 'POST',
            url: "@Url.Action("AddRegistration", "Registration")",
            data:
            {
                paramRegisterID: RegisterID,
            },
            success: function (response)
            {
                $('#divRegister').html('');
                $('#divRegister').html(response);
                $('#myModal').modal({ backdrop: 'static', keyboard: false }, 'show');
            },
        });
    }

    funDeleteRegister = (_paramId) => {
        swal({
            title: "Are you sure?",
            text: "Do you want to delete",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            cancelButtonText: "No",
            closeOnConfirm: true,
            closeOnCancel: true
        },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        type: 'post',
                        dataType: 'json',
                        cache: false,
                        url: '@Url.Action("DeleteRegister", "Registration")',
                        data: {
                            paramId: _paramId
                        },
                        success: function (response, textStatus, jqXHR) {
                            if (response.Result == "OK") {
                                toastr.success("Record deleted successfully");
                                window.setTimeout(function () { location.reload(); }, 2000);
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {

                            toastr.error(response.Message);
                        }
                    });

                } else {
                    swal("Cancelled", "Your imaginary file is safe :)", "error");
                }
            });
    }
</script>
